#scoreLabel #pageTitle {
  font-family: Arial, Helvetica, sans-serif;
  color: navy;
  font-weight: bold;
  position: absolute;
  left: 10px;
  height: 25px;
}

#scoreLabel {
  font-size: 14pt;
  top: 10px;
}

#pageTitle {
  font-size: 24pt;
  top: 35px;
}

#gameArea {
  position: absolute;
  top: 70px;
  left: 10px;
  border: 1px navy solid;
}

#dot {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: navy;
  width: 64px;
  height: 64px;
}

html {
	-webkit-text-size-adjust: none;
	touch-action: manipulation;
}